<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.reading.apiservice.mapper.BookProgressIndexMapper">
  <resultMap id="BaseResultMap" type="com.heng.reading.apiservice.entity.BookProgressIndex">
    <!--@mbg.generated-->
    <!--@Table book_progress_index-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_id" jdbcType="VARCHAR" property="bookId" />
    <result column="progress_id" jdbcType="VARCHAR" property="progressId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, book_id, progress_id
  </sql>

  <delete id="deleteByProgressId" parameterType="java.lang.String">
    DELETE FROM book_progress_index WHERE progress_id = #{progressId}
  </delete>

  <delete id="deleteByBookId" parameterType="java.lang.String">
    DELETE FROM book_progress_index WHERE book_id = #{bookId}
  </delete>
</mapper>