<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.reading.apiservice.mapper.GeneralBookMapper">
  <resultMap id="BaseResultMap" type="com.heng.reading.apiservice.entity.GeneralBook">
    <!--@mbg.generated-->
    <!--@Table general_book-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="book_title" jdbcType="VARCHAR" property="bookTitle" />
    <result column="book_authors" jdbcType="VARCHAR" property="bookAuthors" />
    <result column="book_description" jdbcType="LONGVARCHAR" property="bookDescription" />
    <result column="book_cover_url" jdbcType="VARCHAR" property="bookCoverUrl" />
    <result column="book_size" jdbcType="VARCHAR" property="bookSize" />
    <result column="book_pushed_time" jdbcType="VARCHAR" property="bookPushedTime" />
    <result column="book_file_url" jdbcType="VARCHAR" property="bookFileUrl" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, book_title, book_authors, book_description, book_cover_url, book_size, book_pushed_time, 
    book_file_url
  </sql>

  <select id="queryBooksByAccountId" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT id, book_title, book_authors, book_description, book_size, book_pushed_time, book_cover_url, book_file_url
    FROM general_book WHERE id in (
        SELECT book_id FROM account_book_index WHERE account_id = #{accountId}
    )
  </select>
</mapper>