<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heng.reading.apiservice.mapper.GeneralReadingConfigMapper">
  <resultMap id="BaseResultMap" type="com.heng.reading.apiservice.entity.GeneralReadingConfig">
    <!--@mbg.generated-->
    <!--@Table general_reading_config-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="config_font_family" jdbcType="VARCHAR" property="configFontFamily" />
    <result column="config_font_size" jdbcType="VARCHAR" property="configFontSize" />
    <result column="config_font_style" jdbcType="VARCHAR" property="configFontStyle" />
    <result column="config_theme" jdbcType="VARCHAR" property="configTheme" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, config_font_family, config_font_size, config_font_style, config_theme
  </sql>

  <delete id="deleteByBookId" parameterType="java.lang.String">
    DELETE FROM general_reading_config WHERE id IN (SELECT config_id FROM book_config_index WHERE book_id = #{bookId})
  </delete>

  <select id="queryByBookId" resultMap="BaseResultMap">
    SELECT id, config_font_family, config_font_size, config_font_style, config_theme FROM general_reading_config
    WHERE id IN (SELECT config_id FROM book_config_index WHERE book_id = #{bookId}) LIMIT 1
  </select>
</mapper>